<!DOCTYPE html>
<html>
<head>
	<title>Detail Form</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">

    <!-- for cites code -->
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="http://127.0.0.1:8080/magicsuggest.css" rel="stylesheet" type="text/css">
</head>

<body style="padding: 0px;">
  {{> navbar-client }}

    
  <div class="container" style="display: flex; justify-content: center; align-items: center; min-height: 85vh;">
    <div class="col-md-6">
        <div class="form-area">
            <form id="order_form1" role="form">
            <br style="clear:both">
                        <h3 style="margin-bottom: 25px; text-align: center;">Additional Detail</h3>
              <div class="form-group row">
                <div class="col-md-0"></div>
                <div class="col-md-12 col-xs-12">
                    <input type="number" class="form-control" id="interviewed_people" name="interviewed_people" placeholder="How many people will be interviewed during this shoot ?" required>
                </div>
                <div class="col-md-0"></div>
              </div>


              <div class="form-group">
                <input type="text" class="form-control" id="ms1" name="shoot_cities" placeholder="Cities of shoot" required>
              </div>

              <div class="form-group">
                <input type="number" class="form-control" id="total_videos" name="total_videos" placeholder="How many videos will be produced ?" required>
              </div>

              <div class="form-group">
                <input type="number" class="form-control" id="video_length" name="video_length" placeholder="Average length of video (in minutes)?" required>
              </div>

              <div class="form-group">
                    <input type="number" class="form-control"  id="total_budget" name="total_budget" placeholder="What’s your target budget(in $)" required>
                <div id="message">  
                </div>
              </div>

                <button type="button" id="submit1" name="submit" class="btn btn-primary float-right"> Next </button>
            </form>
            <button id="orders" class="btn btn-primary float-left">All Orders</button>
        </div>
    </div>
  </div>

<!-- The Modal -->
<div id="showModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 60%;">
    <div class="modal-header">
      <h2 class="modal-title" id="exampleModalLabel">Particular User email</h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form id="myform">
        <label for="field" class="col-form-label">User Email </label>
        <input class="left form-control" id="email_id" name="email_id">
        <br/>
        <hr>
        <input type="submit" value="Go" class="float-right btn btn-primary" style="background-color: #007bff !important;" id="showorders">
      </form>
    </div>

  </div>

</div>  
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/app1.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="http://127.0.0.1:8080/magicsuggest.js"></script>
    <script src="http://127.0.0.1:8080/form-serializer.min.js"></script>
    <script>
      $.ajax({
          url : "http://127.0.0.1:8080/get/allcities",
          type : "GET",
          success : function(json){
            $(function() {
              var ms1 = $('#ms1').magicSuggest({
                data: json
              });
            });
          },
          error : function(err){
              alert(err);
          }
      });
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251023-1']);
      _gaq.push(['_setDomainName', 'jqueryscript.net']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>