<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
  <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
  <link rel="stylesheet" type="text/css" href="/global.css">
</head>

<body style="padding: 0px;">

  {{> navbar-client }}

  <div class="container" style="display: flex; justify-content: center; align-items: center; min-height: 85vh;">
    <div class="col-md-6">
      <div class="form-area">
        <form id="order_form" role="form">
          <br style="clear:both">
          <h3> Birch is currently invite only </h3>
          <h5> Please enter your details below to receive an invite </h5>
          <div class="vspacer-25"></div>
          
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Your name" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Business email" required>
          </div>

          {{> contact-info }}
          

          <div class="form-group linkedin-group">
            <input type="url" class="form-control" id="linkedin" name="linkedin" placeholder="LinkedIn profile">
            <small> Users with verified profiles get approved faster </small>
          </div>

          <!-- Actions -->
          <button type="button" data-form-state="signup" id="toggle-action" class="btn btn-link"> Have an account? </button>
          <button type="button" id="submit" name="submit" class="btn btn-primary float-right"> Submit </button>
        </form>
        <!-- <button id="orders" class="btn btn-primary float-left">All Orders</button> -->
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div id="showModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" style="width: 60%;">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Particular User email</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="myform">
          <label for="field" class="col-form-label">User Email </label>
          <input class="left form-control" id="email_id" name="email_id">
          <br/>
          <hr>
          <input type="submit" value="Go" class="float-right btn btn-primary" style="background-color: #007bff !important;" id="showorders">
        </form>
      </div>

    </div>

  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/index.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
</body>

</html>