
.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}

body {
  font-family: Courier, 'Courier New', monospace;
  padding: 1em 2em;
  font-size: 1rem;
}

code, pre, button {
  font-family: Courier, 'Courier New', monospace;
  font-size: 1rem;
}

code {
  color: #666;
}

button {
    border: 0;
    background: #31ffd5;
    font-family: Courier, 'Courier New', monospace;
    font-size: 1rem;
    padding: 0.5em 1em;
}

button:active, button:hover {
    background: #000;
    color: #fff;
}

button[disabled] {
    background: #ccc;
    color: #000;
}

a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 0.1em;
}

a {
    box-shadow: inset 0 -3px #31ffd5;
}

a:hover {
    background:#31ffd5;
}

p, li {
  line-height: 1.3em;
  margin: 1em 0;
}

li {
    margin: 0.8em 0;
}

canvas, video {
    max-width: 100%;
    max-height: 60vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row > * {
  text-align: center;
}

.choices {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

@media (min-width: 640px) {
    .choices li {
        display: inline-block;
        margin: 0;
    }
}

video {
    background: #666;
}

input:invalid {
    background: #666;   
}

input:empty {
    background: #fff;   
}

.error{
  color: red;
}



  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
  }

  /* The Close Button */
  .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }



.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: grab;}
.grabbing {cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}


.line{
  display: flex;
  flex-direction: row;
}
.center {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}